@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HelloJanuary';
  src: url('/fonts/Hello January script cyrillic Script.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NowAlt';
  src: url('/fonts/NowAlt-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
  opacity: 0.8;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground) var(--background);
}

body{
  background: #000000;
}
